last_run_log.txt
opensource.html
previous_crash_dump_1896.dmp
settings.mms
.vscode/settings.json
colormaps/Catppuccin Frappe.map
colormaps/Catppuccin Latte.map
colormaps/Catppuccin Macchiato.map
colormaps/Crest.map
colormaps/Cubehelix.map
colormaps/Default (Blur Friendly).map
colormaps/Default.map
colormaps/Flare.map
colormaps/Fruity.map
colormaps/Grey.map
colormaps/Inferno.map
colormaps/Magma.map
colormaps/Mako.map
colormaps/Plasma.map
colormaps/Rocket.map
colormaps/Untwinxer.map
colormaps/Viridis.map
log_files/mm_log.txt
Presets/Celular.mms
Presets/Current Preset.mms
Presets/Default (Horizontal).mms
Presets/Default (Quad).mms
Presets/normal.mms
Presets/production.mms
themes/_TEMPLATE.ini
themes/AK.ini
themes/Catppuccin Frappe.ini
themes/Catppuccin Latte.ini
themes/Catppuccin Macchiato.ini
themes/Catppuccin Mocha.ini
themes/Midnight Kids.ini
themes/Ocular.ini
themes/Red Sky.ini
themes/Redza.ini
themes/Shades of Purple.ini
themes/Solar.ini
themes/Sound Forge.ini
themes/Untwinxer.ini
themes/Low Contrast.ini
themes/Lockshawty.ini
themes/Light Shard.ini
themes/Gunk.ini
themes/Grow Cold.ini
themes/Foam.ini
themes/dsg.ini
themes/Direct.ini
themes/Corperate.ini
themes/Cool Edit.ini
themes/CloudNone.ini
v08x_backup/settings.json
v08x_backup/Themes/_TEMPLATE.txt
v08x_backup/Themes/AK.txt
v08x_backup/Themes/Catppuccin 1.0.txt
v08x_backup/Themes/Catppuccin.txt
v08x_backup/Themes/CloudNone.txt
v08x_backup/Themes/Cool Edit.txt
v08x_backup/Themes/Corporate.txt
v08x_backup/Themes/Direct.txt
v08x_backup/Themes/dsg.txt
v08x_backup/Themes/foam.txt
v08x_backup/Themes/Grow Cold.txt
v08x_backup/Themes/Gunk.txt
v08x_backup/Themes/Light_Shard.txt
v08x_backup/Themes/Lockshawty.txt
v08x_backup/Themes/Low Contrast.txt
v08x_backup/Themes/Midnight Kids.txt
v08x_backup/Themes/Ocular.txt
v08x_backup/Themes/Redza.txt
v08x_backup/Themes/Shades of Purple.txt
v08x_backup/Themes/Solar.txt
v08x_backup/Themes/Sound Forge.txt
themes/Catppuccin Moch.a.ini
